@page "/user/camera"

@attribute [Authorize(Roles = SD.ROLE_CLIENT)]

@inject ICameraRepository _cameraRepository
@inject IJSRuntime _jsRuntime
@inject NavigationManager _navigationManager
@inject UserManager<IdentityUser> _userManager


<style>
	.custom-table {
		width: 100%;
	}

		.custom-table td {
			text-align: center;
			vertical-align: middle;
		}

	.table-bordered thead th,
	.table-bordered thead td {
		border-bottom-width: 0;
	}
</style>

	@if (Cameras.Any())
{
	<!-- DataTales Example -->
	<div class="card shadow mb-4">
		<div class="card-header py-3">
			<h6 class="m-0 font-weight-bold text-primary">Cameras</h6>
		</div>
		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-bordered custom-table" id="dataTable" width="100%" cellspacing="0">
					<thead>
						<tr>
							<th style="width: 25%; text-align: right;">#</th>
							<th style="width: 25%;">Camera</th>
							<th style="width: 25%;">Angle</th>
							<th style="width: 25%;" colspan="2">Action</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var camera in Cameras)
						{
							<tr>
								<td>
									<SfQRCodeGenerator Value=@($"{_navigationManager.BaseUri}user/{camera.UserId}/camera/{camera.Id}/setting")>
										<QRCodeGeneratorDisplayText Text=@(camera.Name)></QRCodeGeneratorDisplayText>
									</SfQRCodeGenerator>
								</td>
								<td>
									<div style="width: 18rem;">
										<img id="@($"img-{camera.Id}")">
									</div>
								</td>
								<td>
									<input id=@($"input-{camera.Id}") type="range" class="form-range" value=@(camera.Angle) min="0" max="180" step="1" @onchange="(args)=>SetCameraAngle(args, camera.Id)" />
								</td>
								<td style="width: 12.5%;">
									<NavLink href=@($"/user/camera/{camera.Id}") class="btn btn-outline-secondary">Goto</NavLink>
								</td>
								<td style="width: 12.5%;">
									<button type="button" class="btn btn-outline-danger" @onclick="()=>OnCameraDeleted(camera)">Remove</button>
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
}
else
{
	<p>Not Found</p>
}

<EditForm Model="@Camera" OnValidSubmit="OnCameraCreated">
	<DataAnnotationsValidator />
	<div class="input-group">
		<InputText @bind-Value="Camera.Name" type="text" class="form-control" placeholder="Set Camera Name" style="margin-right: 1rem;"></InputText>
		<button class="btn btn-outline-primary">New Camera</button>
	</div>
</EditForm>


@code {
	[CascadingParameter]
	public Task<AuthenticationState> AuthenticationState { get; set; }
	private IdentityUser? User { get; set; } = null;

	private bool IsLoading { get; set; } = true;

	private IEnumerable<CameraDTO> Cameras { get; set; } = new List<CameraDTO>();
	private CameraDTO Camera { get; set; } = new CameraDTO();

	private IMqttClient? MqttClient { get; set; } = null;


	private async ValueTask getCameras(string userId)
	{
		IsLoading = true;
		StateHasChanged();

		Cameras = await _cameraRepository.GetAllByUserId(User.Id);

		IsLoading = false;
		StateHasChanged();
	}

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			var authState = await AuthenticationState;
			User = await _userManager.FindByNameAsync(authState.User.Identity.Name);
			await getCameras(User.Id);

			var mqttFactory = new MqttFactory();
			MqttClient = mqttFactory.CreateMqttClient();
			MqttClient.ApplicationMessageReceivedAsync += async e =>
			{
				var message = e.ApplicationMessage;
				if (message.Topic == "camera/image")
				{
					var cameraMessage = JsonSerializer.Deserialize<CameraDTO>(message.PayloadSegment);
					if (cameraMessage != null)
					{
						await _jsRuntime.InvokeVoidAsync("set_img_src", $"img-{cameraMessage.Id}", cameraMessage.Image);
					}
				}
				else if (e.ApplicationMessage.Topic == "camera/update/angle/ack")
				{
					var cameraMessage = JsonSerializer.Deserialize<CameraDTO>(message.PayloadSegment);
					if (cameraMessage != null)
					{
						var input = $"input-{cameraMessage.Id}";
						await _jsRuntime.InvokeVoidAsync("set_input_disabled", input, false);
					}
				}
			};

			var mqttClientOptions = new MqttClientOptionsBuilder()
				.WithTcpServer("ictrobot.hknu.ac.kr", 8085)
				.Build();
			await MqttClient.ConnectAsync(mqttClientOptions, CancellationToken.None);

			var mqttSubscribeOptions = mqttFactory.CreateSubscribeOptionsBuilder()
				.WithTopicFilter(f => { f.WithTopic("camera/image"); })
				.WithTopicFilter(f => { f.WithTopic("camera/update/angle/ack"); })
				.Build();
			await MqttClient.SubscribeAsync(mqttSubscribeOptions, CancellationToken.None);
		}
	}

	private async Task OnCameraCreated()
	{
		Camera.UserId = User.Id;
		await _cameraRepository.Create(Camera);
		await getCameras(User.Id);
	}

	private async Task OnCameraDeleted(CameraDTO camera)
	{
		await _cameraRepository.Delete(camera.Id);
		await getCameras(User.Id);
	}

	private async Task SetCameraAngle(ChangeEventArgs args, int id)
	{
		if (args.Value != null)
		{
			var angle = int.Parse(args.Value.ToString());
			var camera = await _cameraRepository.Get(id);
			if (camera != null)
			{
				camera.Angle = angle;
				await _cameraRepository.Update(camera);
			}
			var cameraMessage = new CameraDTO
				{
					Id = id,
					Angle = angle,
				};
			var payload = JsonSerializer.Serialize<CameraDTO>(cameraMessage);

			if (MqttClient != null && MqttClient.IsConnected)
			{
				var applicationMessage = new MqttApplicationMessageBuilder()
				.WithTopic("camera/update/angle/syn")
				.WithPayload(payload)
				.Build();
				await MqttClient.PublishAsync(applicationMessage, CancellationToken.None);

				var input = $"input-{cameraMessage.Id}";
				await _jsRuntime.InvokeVoidAsync("set_input_disabled", input, true);
			}
		}
	}
}
